<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="img-wrap">
      <img src="/assets/bicycal.jpg" alt="bicycal mechanic" class="bicycal-mech">
    </div>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        Follow us for updates!
        {% include social.html %}
      </div>
      <div class="footer-col footer-col-2">
        <em>
          We are a student group acting independently of the University of California.
          We take full responsibility for our organization and this web site.
        </em>
      </div>
      <div class="footer-col footer-col-3">
        <a href="https://www.ocf.berkeley.edu">
          <img id="penguin" src="/assets/ocf-hosted-penguin.svg"
               alt="Hosted by the OCF">
        </a>
      </div>
    </div>
  </div>
</footer>
